body {
    background-color: #f6f6f6;
}
.search {
    float: right;
  padding: 6px;
  border: none;
  margin-top: 15px;
  margin-right: 16px;
  font-size: 17px;
  align-items: center;
  width: 500px;


  
}



.container {
    
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 300px;
  background: #f1f1f1;
  margin: 100px auto 0; 
  word-break: break-all;
  border: none;
  z-index: 1;
}

.bloc-tabs {
  display: flex;
  width: 539px !important;
}
.tabs {
  padding: 15px;
  
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}


.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
  width: 100%;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: #272e71
}



button {
  border: none;
  width: 100%;
  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 500px;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
  text-align: center;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 500px;
  height: 100%;
}
.active-content {
  display: block;
}







@media screen and (max-width: 768px) {
    .search {
        width: 100px;
        margin-right: 50px;
    }
    
    .container {
    
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 300px;
  margin-left: 35px;

}

.bloc-tabs {
  display: flex;
  width: 290px !important;
}
.tabs {
  padding: 15px;
  
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}


.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
  width: 150%;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: #272e71
}



button {
  border: none;
  width: 100%;
  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 500px;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
  text-align: center;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
    
}

